# Игнорируем папки с кэшем Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем локальные настройки VS Code
.vscode/

# Игнорируем виртуальные окружения (если будете создавать)
venv/
env/
ENV/

# Игнорируем временные файлы системы
.DS_Store
Thumbs.db
